// =============================================================================
// FONTS
// =============================================================================
$font: 			        "Montserrat", Arial, sans-serif;
$font-secondary: 		"Lato", $font;



// =============================================================================
// COLORS
// =============================================================================
$orange                 : #f16321;
$white                  : #fff;
$navtext                : #5a94a0;
$notification-color     : #e04f5f;
$table-blue             : #f1f6f7;
$blue-text              : #5a94a0;