// =============================================================================
// FONTS
// =============================================================================
$font: 			        "Montserrat", Arial, sans-serif;
$font-secondary: 		"Lato", $font;
$iconfont: 		        "typicons";




// =============================================================================
// COLORS
// =============================================================================
$green                  : #7ac943;
$white                  : #fff;
$greentxt               : #025f13;
$lgrey                  : #f3f3f3;
$grey                   : #ccc;
$blue-text              : #5a94a0;
$navtext                : #5a94a0;
$maroon                 : #ab182f;
$notification-color                 : #ab182f;